---
---
$header-bg-color: rgba(255, 164, 107, 1);
$header-bg-color-secondary: rgba(107, 166, 255, 1)
  
@import "{{ site.theme }}";
.main-content 
h1 {
  color: rgba(25, 25, 25, 0.81);
}
h2 {
  color: rgba(25, 86, 255, 0.81)
}
